#container{
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 100vh;
    width: 100%;
}
#sub_container{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    height:auto;
    width: 60vw;
    margin-top: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 5px;
}
#form_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}
.up_document{
margin-top: 4vh;
/* color: brown; */
}
#up_d_file{
margin-top: 2vh;
font-size: 1.5vmax;
}

.u_id{
margin-top:2vh;
}
#text{
font-size: 1.5vmax;    
margin-top: 1vh;
}
.or{
display: flex;
margin-right: 30%; 
justify-content: center;
/* margin-bottom: 2vh; */
}
.qr_code{
margin-top:2vh;
}
#qr_file{
margin-top: 1vh;
font-size: 1.5vmax;  
}
.val_certificate{
font-size: 1vmax;    
margin-top: 6vh;
margin-left: 20%;
display: block;
padding-left: 20%;
align-items: center;
border-radius: 25%;
width: 40%;
padding: 1.5vh;
background-color:skyblue;
box-sizing: border-box;
} 
.val_certificate:hover{
    background-color: red;
}
